# ignore all, except:
*
# image file
# C/C++ file
# assembly file
# makefile
# and, custom shell script
# and, docs
# Oops...of course itself!
# Fine...still images.
!*.img
!*.c
!*.cpp
!*.asm
!makefile
!Makefile
!*.sh
!*.md
!.gitignore
!*.png